langchain
langchain-community
langchain-chroma
langchain-google-genai
langchain-nvidia-ai-endpoints
langchain-text-splitters
chromadb
streamlit
langchain-openai
pypdf
docx2txt
python-docx
tiktoken
python-dotenv

# Provided by the shared launchpad Conda environment:
# torch
# transformers
# sentence-transformers
